In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv("footballer_data.csv")

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          10 non-null     object
 1   Born          10 non-null     int64
 2   Country       10 non-null     object
 3   Club Apps     10 non-null     int64
 4   Club Goals    10 non-null     int64
 5   Inter. Caps   10 non-null     int64
 6   Inter. Goals  10 non-null     int64
dtypes: int64(5), object(2)
memory usage: 688.0+ bytes

In [4]:
ordinal_encoding = {'Brazil':1, 'Argentina':2, 'Germany':3, 'England':4, 'France':5, 'Netherlands':6, 'Portugal':7, 'Hungary':8, 'Scotland':9, 'Northern Ireland':10}
dataset['Country'] = dataset['Country'].replace(ordinal_encoding)

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          10 non-null     object
 1   Born          10 non-null     int64
 2   Country       10 non-null     int64
 3   Club Apps     10 non-null     int64
 4   Club Goals    10 non-null     int64
 5   Inter. Caps   10 non-null     int64
 6   Inter. Goals  10 non-null     int64
dtypes: int64(6), object(1)
memory usage: 688.0+ bytes

In [6]:
dataset.head(10)

,Name,Born,Country,Club Apps,Club Goals,Inter. Caps,Inter. Goals
0,Gerd Muller,1945,3,555,487,62,68
1,Eusebio,1942,7,436,424,64,41
2,Johan Cruyff,1947,6,518,294,48,33
3,George Best,1946,10,574,204,37,9
4,Bobby Charlton,1937,4,652,211,106,49
5,Pele,1940,1,647,606,92,77
6,Ferenc Puskas,1927,8,530,514,89,84
7,Kenny Dalglish,1951,9,559,229,102,30
8,Alfredo Di Stefano,1926,2,521,376,37,29
9,Michel Platini,1955,5,432,224,72,41