In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv("footballer_data.csv")

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16 non-null     object
 1   Born          16 non-null     int64
 2   Country       16 non-null     object
 3   Club Apps     16 non-null     int64
 4   Club Goals    16 non-null     int64
 5   Inter. Caps   16 non-null     int64
 6   Inter. Goals  16 non-null     int64
dtypes: int64(5), object(2)
memory usage: 1.0+ KB

In [4]:
ordinal_encoding = {'Brazil':1, 'Argentina':2, 'West Germany':3, 'Italy':4, 'England':5, 'France':6, 'Netherlands':7, 'Portugal':8, 'Hungary':9, 'Northern Ireland':10}
dataset['Country'] = dataset['Country'].replace(ordinal_encoding)

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16 non-null     object
 1   Born          16 non-null     int64
 2   Country       16 non-null     int64
 3   Club Apps     16 non-null     int64
 4   Club Goals    16 non-null     int64
 5   Inter. Caps   16 non-null     int64
 6   Inter. Goals  16 non-null     int64
dtypes: int64(6), object(1)
memory usage: 1.0+ KB

In [6]:
dataset.head(16)

,Name,Born,Country,Club Apps,Club Goals,Inter. Caps,Inter. Goals
0,Gerd Muller,1945,3,555,487,62,68
1,Eusebio,1942,8,436,424,64,41
2,Johan Cruyff,1947,7,518,294,48,33
3,George Best,1946,10,574,204,37,9
4,Bobby Charlton,1937,5,652,211,106,49
5,Pele,1940,1,647,606,92,77
6,Ferenc Puskas,1927,9,530,514,89,84
7,Diego Maradona,1960,2,491,259,91,34
8,Alfredo Di Stefano,1926,2,521,376,37,29
9,Michel Platini,1955,6,432,224,72,41
10,Franz Beckebauer,1945,3,560,79,103,14
11,Ronaldo,1976,1,384,280,98,62
12,Zinedine Zidane,1972,6,506,95,108,31
13,Luis Figo,1972,8,570,93,127,32
14,Paolo Maldini,1968,4,647,29,126,7
15,Marco Van Basten,1964,7,281,219,58,24